.overlay {
    position: absolute;
    width: 380px;
    height: 470px;
    background: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    box-shadow: 10px 10px 0px $color-elements;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
    transition: opacity 200ms linear;
}