html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(153, 153, 153);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.page-header {
    margin: 0;
    padding: 0;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.site-logo {
    display: block;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #95e1d3;
    text-decoration: none;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    flex-basis: 490px;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.site-navigation a {
    display: block;
    line-height: 17px;
    text-decoration: none;
    color: #95e1d3;
    text-transform: uppercase;
    transition: color 200ms linear;
}


.site-navigation a::after {
    display: block;
    height: 2px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f38181;
    content: '';
    opacity: 0;
    transition: color 200ms linear;
}


.site-navigation a:hover {
    color: #f38181;
}

.site-navigation a:hover::after {
    opacity: 1;
}

/*SERVICE*/

.section {
    padding-top: 94px;
}

.title {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
}

.title::after {
    display: block;
    width: 60px;
    height: 3px;
    content: '';
    margin: 0 auto;
    margin-top: 40px;
    background-color: #f38181;  
}

.title span {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    text-transform: none;
    color: #333333;

}

    
.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

}

.service-list-item:nth-child(-n+3) {
    margin-bottom: 50px;
}

.service-list-item {
    position: relative;
    flex-basis: 380px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 80px;
}

.service-list-item::before {
    position: absolute;
    top: 0px;
    left: 20px;
    content: '';
    display: flex;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.service-list-item h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}

.service-list-item p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    
}

.icon-alarm::before {
    background-image: url(../img/icon-alarm.png);
}

.icon-linegraph::before {
    background-image: url(../img/icon-linegraph.png);
}

.icon-computer::before {
    background-image: url(../img/icon-computer.png);
}

.icon-book::before {
    background-image: url(../img/icon-book.png);
}

.icon-home::before {
    background-image: url(../img/icon-home.png);
}

.icon-image::before {
    background-image: url(../img/icon-image.png);
}

/*TEAM*/

.description {
    margin: 0;
    padding: 0px 130px 44px 130px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-align: center; 
}

.team-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.team-list-item {
    position: relative;
    margin: 0;
    padding: 0;
}

.team-list-item-name {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 30px;
    line-height: 17px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(51, 51, 51);
}

.team-list-item-occupation {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
}

/*OVERLAY*/

.overlay {
    position: absolute;
    width: 380px;
    height: 470px;
    background: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    box-shadow: 10px 10px 0px #95e1d3;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
    transition: opacity 200ms linear;
}

.share-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.share-icons-item:not(:last-child) {
    margin-right: 1px;
}

.share-icons-item a {
    z-index: 1;
    display: block;
    width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a;
    border: none;
    cursor: pointer;
}

.share-icons-item a:hover {
    background-color: #95e1d3;
    transition: background-color 200ms linear;
}

.icon-facebook {
    background-image: url(../img/icon-facebook.png);
}

.icon-twitter {
    background-image: url(../img/icon-twitter.png);
}

.icon-pinterest {
    background-image: url(../img/icon-pinterest.png);
}

.icon-instagram {
    background-image: url(../img/icon-instagram.png);
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid rgb(153, 153, 153);
}

.copyright {
    line-height: 17px;
    margin: 0;
    padding: 0;
}

.color {
    color: #f38181;
}

.subscribe {
    display: flex;
    justify-content: flex-end;
}

.subscribe form {
    position: relative;
    width: 380px;
}

.subscribe input {
    height: 40px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    padding-left: 10px; 
}

.subscribe button {
    position: absolute;
    top: 0;
    right: 0;
    display:inline-block;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 40px;
    font-weight: 700;
    line-height: 17px;
    background-color: #95e1d3;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}