@mixin font-settings($size, $height) {
    font-size: $size;
    line-height: $height;
}

@mixin flex ($type: 'all') {
    display: flex; 

    @if $type== 'all' {
        justify-content: space-between;
    } @else if $type== 'center' {
        justify-content: center;
    } @else if $type== 'end' {
        justify-content: flex-end;
    }
}