$color-primary-light: #999999;
$color-primary-dark: #333333;
$color-secondary: #ffffff;
$color-primary-accent: #fce38a;
$color-secondary-accent: #f38181;
$color-elements: #95e1d3;
$primary-font-stack: 'Montserrat', sans-serif;
$secondary-font-stack: 'Roboto', sans-serif;
$subtitle-font-stack: 'Kaushan Script', cursive;